.profile-container {
    border: solid;
    margin: 195px;
    margin-top: 10px;
}

h1 {
    font-style: italic;
    text-align: center;
    font-family: elephant;
    padding: 30px;
    color: rgb(101, 137, 143);
}

h5 {
    font-style: italic;
    margin: 10px;
}
