.newsfeed-card {
    border: solid 1px;
    margin: 30px;
    margin-bottom: 100px;
}

.post-owner, 
.newsfeed-posts, 
.reaction-box, 
.comments,  
.comment-box {
    border: solid 1px;
    margin: 10px;
    background-image: url(../../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.newsfeed-background {
    background-color: rgb(163, 179, 182);
    background-image: url(../../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
